@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap");
@keyframes taskComplete {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  20% {
    opacity: 1;
    transform: translateX(20px);
  }
  30% {
    opacity: 0.9;
    transform: translateX(25px);
  }
  50% {
    opacity: 0.7;
    transform: translateX(70px);
  }
  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

li {
  list-style: none;
}

body.light {
  background-color: white;
}

body.dark {
  background-color: rgb(43.85, 43.85, 43.85);
  color: rgb(248, 248, 248);
}

.calendar {
  width: 100%;
}
.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-block: 10px;
  border-bottom: 2px solid #e5e7eb;
  background-color: rgba(218, 216, 216, 0.932);
  color: #1a1a1a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 7px double rgba(80, 79, 79, 0.87);
}
.calendar__navBtn {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s ease;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-inline: 10px;
}
.calendar__navBtn:hover {
  background-color: rgb(248, 248, 248);
}
.calendar__navBtn:active {
  transform: scale(0.95);
}
.calendar__month {
  text-transform: capitalize;
  font-family: "Jost";
  font-weight: 500;
  font-size: 2.5rem;
  margin: auto;
}
.calendar__year {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 300;
  background-color: #1a1a1a;
  opacity: 0.8;
  color: rgb(248, 248, 248);
  border-radius: 6px;
  padding: 1px 4px;
}
.calendar__body {
  margin: 20 4;
  border-radius: 6px;
  padding: 10px;
}
.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-bottom: 8px;
  font-family: "Jost";
  font-size: 18px;
  font-weight: 500;
}
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  gap: 4px;
  margin: auto;
}
.calendar__day {
  aspect-ratio: 1.2;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.calendar__day:hover {
  border-color: #1a1a1a;
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.2);
}
.calendar__day--selected {
  background-color: rgb(248, 248, 248);
  box-shadow: rgb(204, 219, 232) 2px 2px 3px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.calendar__day--other-month {
  opacity: 0.3;
}
.calendar__day--other-month:hover {
  opacity: 0.5;
}
.calendar__day--today {
  background-color: rgba(218, 216, 216, 0.932);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.158);
}
.calendar__day--today .calendar__day-number {
  font-weight: 700;
  font-size: 22px;
}
.calendar__day-number {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 300;
  color: #1a1a1a;
}
.calendar__day-meta {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-block: 8px;
}
.calendar__day-badge {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.158);
}
.calendar__day-badge--high {
  background-color: #ee4949;
}
.calendar__day-badge--medium {
  background-color: #faa81b;
}
.calendar__day-badge--low {
  background-color: #59cce0;
}

body.dark .calendar__header,
.dark .calendar__header {
  background-color: rgba(105.6603773585, 104.3396226415, 104.3396226415, 0.87);
  color: rgb(248, 248, 248);
  border-bottom: 7px double rgba(218, 216, 216, 0.932);
}
body.dark .calendar__navBtn,
.dark .calendar__navBtn {
  color: #e5e7eb;
}
body.dark .calendar__navBtn:hover,
.dark .calendar__navBtn:hover {
  background-color: #1a1a1a;
}
body.dark .calendar__body,
.dark .calendar__body {
  background-color: rgb(38.75, 38.75, 38.75);
}
body.dark .calendar__weekday,
.dark .calendar__weekday {
  color: rgba(218, 216, 216, 0.932);
}
body.dark .calendar__day,
.dark .calendar__day {
  border-color: rgba(80, 79, 79, 0.87);
  background-color: #1a1a1a;
}
body.dark .calendar__day:hover,
.dark .calendar__day:hover {
  border-color: rgb(248, 248, 248);
}
body.dark .calendar__day--today,
.dark .calendar__day--today {
  background-color: rgba(105.6603773585, 104.3396226415, 104.3396226415, 0.87);
}
body.dark .calendar__day-number,
.dark .calendar__day-number {
  color: rgb(248, 248, 248);
}/*# sourceMappingURL=Shedule.css.map */