@use "../../index.scss" as *;

.calendar {
    width: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
        padding-block: 10px;
        border-bottom: 2px solid #e5e7eb;
        background-color: darken($lightGrey, 0%);
        color: $mainColorDark;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 7px double $grey;
    }

    &__navBtn {
        @include alignCenter;
        border: none;
        background: none;
        cursor: pointer;
        transition: 0.2s ease;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-inline: 10px;
        &:hover {
            background-color: $mainColorLight;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    &__month {
        text-transform: capitalize;
        font-family: $fontGlobal;
        font-weight: 500;
        font-size: 2.5rem;
        margin: auto;
    }

    &__year {
        font-size: 16px;
        font-family: $fontText;
        font-weight: 300;
        background-color: $mainColorDark;
        opacity: 0.8;
        color: $mainColorLight;
        border-radius: 6px;
        padding: 1px 4px;
    }

    &__body {
        margin: 20 4;
        border-radius: 6px;
        padding: 10px;
    }

    &__weekdays {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 8px;
        margin-bottom: 8px;
        font-family: $fontGlobal;
        font-size: 18px;
        font-weight: 500;
    }

    &__days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        gap: 4px;
        margin: auto;
    }

    &__day {
        aspect-ratio: 1.2;
        border: 2px solid #e5e7eb;
        border-radius: 8px;
        padding: 8px;
        cursor: pointer;
        transition: all 0.2s ease;
        background-color: white;
        display: flex;
        flex-direction: column;

        &:hover {
            border-color: $mainColorDark;
            transform: translateY(-4px);
            box-shadow: 0 4px 12px rgba(59, 130, 246, 0.2);
        }

        &--selected {
            background-color: $mainColorLight;
            box-shadow: $shadowInsetLight;
            
        }

        &--other-month {
            opacity: 0.3;

            &:hover {
                opacity: 0.5;
            }
        }

        &--today {
            background-color: $lightGrey;
            box-shadow: $shadowInsetLight2;

            .calendar__day-number {
                font-weight: 700;
                font-size: 22px;
            }
        }
    }

    &__day-number {
        font-family: $fontText;
        font-size: 18px;
        font-weight: 300;
        color: $mainColorDark;
    }

    &__day-meta {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-block: 8px;
    }

    &__day-badge {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        box-shadow: $shadowInsetLight2;

        &--high {
            background-color: $prioHigh;
        }
        &--medium {
            background-color: $prioMediun;
        }
        &--low {
            background-color: $prioLow;
        }
    }
}

// Dark
body.dark .calendar,
.dark .calendar {
    &__header {
        // background-color: lighten($grey, 5%);
        background-color: lighten($mainColorDark, 0%);
        // background-color: black;
        color: $mainColorLight;
        border-bottom: 7px double $lightGrey;
    }

    &__navBtn {
        color: #e5e7eb;

        &:hover {
            background-color: $mainColorDark;
        }
    }

    &__body {
        background-color: lighten($mainColorDark, 5%);
    }

    &__weekday {
        color: $lightGrey;
    }

    &__day {
        border-color: $grey;
        background-color: $mainColorDark;

        &:hover {
            border-color: $mainColorLight;
        }

        &--today {
            background-color: lighten($grey, 10%);
        }
    }

    &__day-number {
        color: $mainColorLight;
    }
}
