@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap");
@keyframes taskComplete {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  20% {
    opacity: 1;
    transform: translateX(20px);
  }
  30% {
    opacity: 0.9;
    transform: translateX(25px);
  }
  50% {
    opacity: 0.7;
    transform: translateX(70px);
  }
  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body.light {
  background-color: white;
}

body.dark {
  background-color: rgb(43.85, 43.85, 43.85);
  color: rgb(248, 248, 248);
}

.task {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  height: 4rem;
  border-radius: 12px;
  font-family: "Inter";
  transition: 0.3s;
  border: 1px solid rgba(218, 216, 216, 0.932);
}
.task:hover {
  box-shadow: 0 4px 5px rgb(138, 136, 136);
}
.task__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 2rem;
}
.task__name {
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
}
.task__metadata {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}
.task__category {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 3px 7px;
  background-color: rgba(160, 212, 233, 0.4196078431);
  color: rgba(80, 79, 79, 0.87);
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 4rem;
}
.task__category svg {
  flex-shrink: 0;
}
.task__date {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #6b7280;
  font-size: 13px;
}
.task__date svg {
  flex-shrink: 0;
}
.task__date--created {
  color: rgba(80, 79, 79, 0.87);
  margin-right: 4rem;
}
.task__date--deadline.task__date--normal {
  color: rgba(80, 79, 79, 0.87);
}
.task__date--deadline.task__date--soon {
  color: #f09d0f;
  font-weight: 500;
}
.task__date--deadline.task__date--today {
  color: #e64ad9;
  font-weight: 500;
}
.task__date--deadline.task__date--overdue {
  color: #ee2222;
  font-weight: 600;
  text-decoration: line-through;
}
.task__priority-high {
  border-color: #ee4949;
}
.task__priority-medium {
  border-color: #faa81b;
}
.task__priority-low {
  border-color: #59cce0;
}
.task__btn {
  border: none;
  width: 3rem;
  background-color: rgba(193.1710526316, 189.8289473684, 189.8289473684, 0.932);
  color: rgb(248, 248, 248);
  cursor: pointer;
}
.task__btn--delete {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.task__btn--delete:hover {
  background-color: rgba(167, 13, 13, 0.795);
}
.task__btn--complete {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.task__btn--complete:hover {
  background-color: rgba(21, 126, 56, 0.829);
}

.task--completing {
  animation: taskComplete 0.2s ease-in forwards;
}

body.dark .task {
  background-color: #1a1a1a;
}
body.dark .task__name {
  color: #e5e7eb;
}
body.dark .task__category {
  background-color: rgba(34, 182, 162, 0.3960784314);
  color: #ede9fe;
}
body.dark .task__btn {
  background-color: rgba(80, 79, 79, 0.87);
  color: rgba(218, 216, 216, 0.932);
}
body.dark .task__btn--delete:hover {
  background-color: rgba(236, 30, 30, 0.781);
  color: rgb(248, 248, 248);
}
body.dark .task__btn--complete:hover {
  background-color: rgba(41, 202, 95, 0.87);
  color: rgb(248, 248, 248);
}
body.dark .task__priority-badge {
  border: none;
}
body.dark .task__date {
  color: rgba(218, 216, 216, 0.932);
}
body.dark .task__date--deadline.task__date--soon {
  color: rgb(243, 176.6, 63);
}
body.dark .task__date--deadline.task__date--today {
  color: rgb(245.4733009709, 186.0266990291, 240.5194174757);
}
body.dark .task__date--deadline.task__date--overdue {
  color: #ee2222;
}/*# sourceMappingURL=Task.css.map */