@use "../../index.scss" as *;

.task {
    box-shadow: $shadowLight;
    height: 4rem;
    border-radius: 12px;
    font-family: $fontText;
    transition: 0.3s;
    border: 1px solid $lightGrey;
    cursor: pointer;
    &:hover {
        box-shadow: 0 4px 5px rgb(138, 136, 136);
    }
    
    &__content {
        flex: 1;
        @include flexCenterBetween;
        margin-inline: 2rem;
    }

    &__name {
        // position: relative;
        font-size: 1.2rem;
        font-weight: 500;
        display: inline-block;
        margin: 0;
        margin-left: 1rem;
    }

    &__metadata {
        @include alignCenter;
        flex-wrap: wrap;
        font-size: 14px;
    }

    &__category {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        padding: 3px 7px;
        background-color: $taskCategory;
        color: $grey;
        border-radius: 12px;
        font-weight: 500;
        font-size: 12px;
        margin-right: 4rem;

        svg {
            flex-shrink: 0;
        }
    }

    // Styles des dates
    &__date {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        color: #6b7280;
        font-size: 13px;

        svg {
            flex-shrink: 0;
        }
    }

    // Date de creation
    &__date--created {
        color: $grey;
        margin-right: 4rem;
    }

    &__date--deadline.task__date--normal {
        color: $grey;
    }

    // deadline soon
    &__date--deadline.task__date--soon {
        color: $deadlineSoon;
        font-weight: 500;
    }

    // deadline today
    &__date--deadline.task__date--today {
        color: $deadlineToday;
        font-weight: 500;
    }

    // deadline overdue
    &__date--deadline.task__date--overdue {
        color: $deadlineOverdue;
        font-weight: 600;
        text-decoration: line-through;
    }

    &__priority-high {
        border-color: $prioHigh;
    }
    &__priority-medium {
        border-color: $prioMediun;
    }
    &__priority-low {
        border-color: $prioLow;
    }

    &__btn {
        border: none;
        width: 3rem;
        background-color: darken($lightGrey, 10%);
        color: $mainColorLight;
        cursor: pointer;

        &--delete {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            &:hover {
                background-color: $ctaDelete;
            }
        }

        &--complete {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            &:hover {
                background-color: $ctaComplete;
            }
        }
    }
}

.task--completing {
    animation: taskComplete 0.2s ease-in forwards;
}

.task--modal {
    max-height: 2rem;

    .task__name {
        font-size: 15px;
        font-weight: 400;
        margin-left: 4px;
    }
    .task__content {
        margin-inline: 8px;
    }

    .task__category {
        font-size: 12px;
    }

    .task__date {
        font-size: 12px;
    }
}

.launch-modal {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // border: 4px doubled black;
    border: 2px solid $grey;
    border-radius: 15px;
    padding: 20px 0px;
    width: 90%;
    max-width: 350px;
    text-align: center;
    box-shadow: $shadowMenu;
    font-family: $fontText;
    z-index: 100;

    &__title {
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 10px 0;
        color: darken($grey, 15%);
    }

    &__task-name {
        font-size: 1.2rem;
        font-weight: 500;
        color: $mainColorDark;
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: 14px;
        margin-top: 2.5rem;
    }

    &__btn {
        font-size: 14px;
        padding: 6px 14px;
        border: none;
        border-radius: 10px;
        box-shadow: $shadowMenu;
        
        &--confirm {
            background-color: $mainColorDark;
            color: $mainColorLight;
            &:hover {
                box-shadow: $shadowInsetDark;
            }
        }
        &--cancel {
            background-color: $mainColorLight;
            &:hover {
                box-shadow: $shadowInsetLight2;
            }
        }
    }
}

// Dark
body.dark {
    .task {
        background-color: $mainColorDark;
        
        &__name {
            color: $mainColorLight;
        }
    
        &__category {
            background-color: $taskCategoryDark;
            color: $mainColorLight;
        }
    
        &__btn {
            background-color: $grey;
            color: $lightGrey;
        }
    
        &__btn--delete:hover {
            background-color: $ctaDeleteDark;
            color: $mainColorLight;
        }
    
        &__btn--complete:hover {
            background-color: $ctaCompleteDark;
            color: $mainColorLight;
        }
    
        &__priority-badge {
            border: none;
        }
    
        &__date {
            color: $lightGrey;
        }
    
        &__date--deadline.task__date--soon {
            color: lighten($deadlineSoon, 10%);
        }
    
        &__date--deadline.task__date--today {
            color: lighten($deadlineToday, 25%);
        }
    
        &__date--deadline.task__date--overdue {
            color: $deadlineOverdue;
        }
    }

}
