@use '../../index.scss' as*;

.agenda-locked {
  margin: auto;

  &__content {
    font-family: $fontHead;
    text-align: center;

    h2 {
      font-size: 4rem;
      font-weight: 600;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

.main-container {
    background-color: $mainColorLight;
    border-radius: 10px;
    margin: auto;
    width: 60%;
    box-shadow: $shadowInsetLight2;
    margin-bottom: 2rem;
    display: flex;
}

.resume {
    flex: 1;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: $shadowMenu;
    // margin-left: auto;
    background: $whiteGreyGradient;
  
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid $grey;
    
    h3 {
        margin: 0;
        margin-right: auto;
        font-size: 1.1rem;
        font-family: $fontTitle;
        font-weight: 300;
    }
  }
  
  &__close {
    background: none;
    border: none;
    cursor: pointer;
    color: $ctaDeleteDark;
    transition: all 0.2s ease;
    
    &:hover {
      transform: scale(1.4);
    }
  }

  &__day {
    text-align: center;
    font-family: $fontHead;
    font-size: 1.3rem;
    font-weight: 600;
  }
}



// Dark
body.dark {
    .main-container {
      background-color: $mainColorDark;
    }
    .resume {
      // background: $blackgreyGradient;
      background: $mainColorDark;
    }
}
