@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap");
@keyframes taskComplete {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  20% {
    opacity: 1;
    transform: translateX(20px);
  }
  30% {
    opacity: 0.9;
    transform: translateX(25px);
  }
  50% {
    opacity: 0.7;
    transform: translateX(70px);
  }
  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

li {
  list-style: none;
}

body.light {
  background-color: white;
}

body.dark {
  background-color: rgb(43.85, 43.85, 43.85);
  color: rgb(248, 248, 248);
}

.agenda-locked {
  margin: auto;
}
.agenda-locked__content {
  font-family: "Poppins";
  text-align: center;
}
.agenda-locked__content h2 {
  font-size: 4rem;
  font-weight: 600;
}
.agenda-locked__content h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.main-container {
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  margin: auto;
  width: 60%;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.158);
  margin-bottom: 2rem;
  display: flex;
}

.resume {
  flex: 1;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.281);
  margin-left: auto;
  margin-right: 6px;
  background: linear-gradient(200deg, rgb(255, 255, 255) 11%, rgba(149, 150, 163, 0.212) 86%);
}
.resume__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(80, 79, 79, 0.87);
}
.resume__header h3 {
  margin: 0;
  margin-right: auto;
  font-size: 1.1rem;
  font-family: "Merriweather";
  font-weight: 300;
}
.resume__close {
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(236, 30, 30, 0.781);
  transition: all 0.2s ease;
}
.resume__close:hover {
  transform: scale(1.4);
}
.resume__day {
  text-align: center;
  font-family: "Poppins";
  font-size: 1.3rem;
  font-weight: 600;
}

body.dark .main-container {
  background-color: #1a1a1a;
}
body.dark .resume {
  background: linear-gradient(2deg, rgba(88, 88, 88, 0.747) 0%, rgba(39, 39, 39, 0.76) 43%);
}/*# sourceMappingURL=Agenda.css.map */