@use '../../index.scss' as*;

.home-container {
    @include flexCenterColumn;
    margin-inline: 20%;
    position: relative;
}

.home-title {
    font-family: $fontHead;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.tasklist-container {
    width: 80%;
    margin-block: 1rem;
    @include flexCenterColumn;
    gap: 1rem;
}

.tasklist-empty {
    font-size: 1.2rem;
    margin-top: 5rem;
    font-family: $fontText;
}

.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
