@use "../../index.scss" as*;

.stats-page-container {
    width: 90vw;
    margin: auto;
}

.stats-title {
    font-family: $fontHead;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0 0 0.5rem;
    text-align: center;
}

.stats-container {
    display: flex;
}

.stats-global {
    margin: auto;
    width: 51%;
}

.stats-categories {
    width: 48%;
    text-align: center;
    margin: auto;
    border-radius: 12px;
    padding-block: 2rem;
    box-shadow: $shadowInsetLight;
    background-color: $mainColorLight;
}

.stats-empty {
    text-align: center;
    margin: 4rem 0;
    font-family: $fontText;
    font-size: 1.2rem;
}

body.dark {
    .stats-categories {
        background-color: $mainColorDark;
        box-shadow: $shadowInsetDark;
        border: 1px solid $grey;
    }
}