@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body.light {
  background-color: white;
}

body.dark {
  background-color: rgb(43.85, 43.85, 43.85);
  color: rgb(248, 248, 248);
}

/* Styles de base */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  margin-bottom: 2.5rem;
}
header .header__title {
  font-family: "Merriweather";
  font-size: 3.3rem;
  font-weight: 400;
  margin: 0;
}
header .header__nav {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  gap: 4rem;
  margin-top: 4.5rem;
  margin-right: 5.2rem;
}
header .header__nav a {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0px 15px;
  border-radius: 20px;
}
header .header__switchBtn {
  font-family: "Jost";
  font-weight: 300;
  border: none;
  border-radius: 10px;
  padding-inline: 8px;
  font-size: 1rem;
  margin-right: 2.5rem;
  transition: 0.2s ease;
}

/* Styles LIGHT */
header.light {
  background-color: rgb(248, 248, 248);
  color: #1a1a1a;
}

header.light .header__nav a {
  color: #1a1a1a;
}

header.light .header__nav a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-decoration-color: #4d4d4d;
  text-underline-offset: 3px;
}

header.light .header__nav a:focus {
  box-shadow: rgba(17, 17, 19, 0.1) -1px 2px 5px;
  background-color: #4d4d4d;
  color: rgb(248, 248, 248);
}

header.light .header__switchBtn {
  background-color: #1a1a1a;
  color: white;
}

header.light .header__switchBtn:hover {
  background-color: rgba(218, 216, 216, 0.932);
  color: black;
}

/* Styles DARK */
header.dark {
  background-color: #1a1a1a;
  color: white;
}

header.dark .header__nav {
  box-shadow: 0 2px 3px rgba(134, 132, 132, 0.658);
}

header.dark .header__nav a {
  color: white;
}

header.dark .header__nav a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-decoration-color: rgba(218, 216, 216, 0.932);
  text-underline-offset: 3px;
}

header.dark .header__nav a:focus {
  box-shadow: rgba(197, 197, 199, 0.685) -1px 2px 2px;
  background-color: rgba(218, 216, 216, 0.932);
  color: #1a1a1a;
}

header.dark .header__switchBtn {
  background-color: rgb(222.5, 222.5, 222.5);
  color: #1a1a1a;
}

header.dark .header__switchBtn:hover {
  background-color: rgb(133.25, 133.25, 133.25);
  color: white;
}

/*# sourceMappingURL=Header.css.map */