@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pixelify+Sans:wght@400..700&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body.light {
  background-color: white;
}

body.dark {
  background-color: rgb(43.85, 43.85, 43.85);
  color: rgb(248, 248, 248);
}

.taskform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
  font-family: "Inter";
  margin-bottom: 1.5rem;
}
.taskform__input {
  font-size: 1rem;
  box-shadow: rgb(204, 219, 232) 2px 2px 3px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  height: 2.5rem;
  width: 100%;
  border-radius: 6px;
  border: none;
  padding-inline: 6px;
  margin-right: 0.5rem;
}
.taskform__btn {
  border: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  height: 2rem;
  width: 2rem;
  color: white;
  background-color: rgba(218, 216, 216, 0.932);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.158);
  margin-left: 0.5rem;
}
.taskform__optionsBtn:hover {
  background-color: #1a1a1a;
  color: white;
}
.taskform__addBtn:hover {
  background-color: rgba(14, 61, 148, 0.815);
  color: rgb(248, 248, 248);
}
.taskform__options {
  width: 100%;
  display: flex;
  gap: 8px;
  margin-inline: 1rem;
  border: 4px double rgba(39.5131578947, 37.4868421053, 37.4868421053, 0.932);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 1px 2px 2px 2px rgba(128, 126, 126, 0.658);
}

.option-wrapper {
  background-color: rgba(242.8289473684, 242.1710526316, 242.1710526316, 0.932);
  text-align: center;
  padding: 6px;
  border-radius: 6px;
}

.option-wrapper label {
  font-weight: 500;
  margin-right: 10px;
  font-size: 1.1rem;
}

.option-wrapper select {
  width: 2rem;
  height: 1rem;
  border: none;
  border-radius: 6px;
  background-color: rgb(64.25, 64.25, 64.25);
  color: rgb(248, 248, 248);
  cursor: pointer;
}

.option-wrapper select option {
  font-size: 15px;
  padding-inline: 3px;
}

.option-wrapper input {
  margin-top: 12px;
  border: none;
  padding: 2px 6px;
  height: 1.5rem;
  border-radius: 6px;
  opacity: 0.8;
  box-shadow: rgb(204, 219, 232) 2px 2px 3px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.prio-radios {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.radio-label input {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-top: 14px;
  box-shadow: none;
  cursor: pointer;
}

.input-deadline {
  font-family: "Inter";
  text-align: center;
  font-size: 1rem;
}/*# sourceMappingURL=TaskForm.css.map */