@use '../../index.scss' as*;

.taskform {
    @include flexCenterBetween;
    min-width: 50%;
    font-family: $fontText;
    margin-bottom: 1.5rem;

    // input nouvelle tache
    &__input {
        appearance: none;
        font-size: 1rem;
        font-weight: 500;
        box-shadow: $shadowInsetLight;
        height: 2.5rem;
        width: 90%;
        border-radius: 6px;
        border: none;
        padding-inline: 6px;
        margin-right: 0.5rem;        

        &::placeholder {
            font-weight: 400;
            opacity: 0.9;
        }

        &:focus {
            outline-color: $lightGrey;
        }
    }

    // boutons
    &__btn {
        border: none;
        @include alignCenter;
        border-radius: 10px;
        text-align: center;
        height: 2rem;
        width: 2rem;
        color: white;
        background-color: $lightGrey;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: $shadowInsetLight2;
        margin-left: 0.5rem;
    }

    &__optionsBtn:hover {
        background-color: $mainColorDark;
        color: white;
    }

    &__addBtn:hover {
        background-color: $ctaNew;
        color: $mainColorLight;
    }

    &__options {
        width: 100%;
        display: flex;
        gap: 8px;
        margin-inline: 1rem;
        border: 4px double darken($lightGrey, 70%);
        border-radius: 6px;
        padding: 8px;
        box-shadow: $shadowBoxModal;
    }
}

// menu options
.option-wrapper {
    background-color: lighten($lightGrey, 10%);
    text-align: center;
    padding: 6px;
    border-radius: 6px;
}
.option-label {
    margin-right: 10px;
    font-weight: 600;
    font-size: 1.1rem;
}

.option-wrapper select {
    appearance: none;
    text-align: center;
    width: 2rem;
    height: 1rem;
    border: none;
    border-radius: 6px;
    background-color: lighten($mainColorDark, 20%);
    color: $mainColorLight;
    cursor: pointer;
}
.option-wrapper select option {
    font-size: 15px;
}

.option-wrapper input {
    margin-top: 12px;
    border: none;
    padding: 2px 6px;
    height: 1.5rem;
    border-radius: 6px;
    opacity: 0.8;
    box-shadow: $shadowInsetLight;
    &:focus {
        outline-color: $lightGrey;
    }
}

// boutons radios priorites
.prio-radios {
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}
.radio-label {
    margin-top: 14px;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px;
    cursor: pointer;
    transition: 0.2s ease;

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .radio-custom {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 30%;
        border: 1px solid black;
        margin-right: 6px;
        background-color: white;
    }
}

// high prio
.radio-high {
  .radio-custom {
    border-color: $prioHigh;
  }
  
  input[type="radio"]:checked ~ .radio-custom {
    background-color: $prioHigh;
    border-color: $prioHigh;
  }
}

// mediun prio
.radio-medium {
  .radio-custom {
    border-color: $prioMediun;
  }
  
  input[type="radio"]:checked ~ .radio-custom {
    background-color: $prioMediun;
    border-color: $prioMediun;
  }
}

// low prio
.radio-low {
  .radio-custom {
    border-color: $prioLow;
  }
  
  input[type="radio"]:checked ~ .radio-custom {
    background-color: $prioLow;
    border-color: $prioLow;
  }
}



// deadline
.input-deadline {
    font-family: $fontText;
    text-align: center;
    font-size: 1rem;
}

input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: opacity(0.6);
    transition: filter 0.2s ease;
    
    &:hover {
      filter: opacity(1);
    }
  }
  
  // styles Firefox
  &::-moz-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease;
    
    &:hover {
      opacity: 1;
    }
  }
}

.dark {
    .taskform__input {
        background-color: $grey;
        box-shadow: $shadowInsetDark;
        color: $mainColorLight;
    }

    .taskform__input::placeholder {
            font-weight: 400;
            opacity: 0.6;
            color: $mainColorLight;
        }

    .taskform__input:focus {
        outline: none;
    }

    .taskform__btn {
        color: $mainColorDark;
    }

    .taskform__optionsBtn:hover {
        background-color: $mainColorDark;
        color: white;
    }

    .taskform__addBtn:hover {
        background-color: $ctaNewDark;
        color: $mainColorLight;
    }

    .taskform__options {
        border: 4px double darken($lightGrey, 30%);
        box-shadow: $shadowBoxModal;
    }

    .option-wrapper {
        background-color: $grey;
        text-align: center;
        padding: 6px;
        border-radius: 6px;
    }

    .option-wrapper select {
        background-color: $mainColorLight;
        color: $mainColorDark;
    }
}