@use '../../index.scss' as*;

.day-details {
  min-width: 400px;
  // max-width: 450px;

  &__empty {
    text-align: center;
    margin-top: 5rem;
    font-family: $fontText;
    font-size: 1.5rem;
    font-weight: 200;
    margin-inline: 5rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 16px;
    border-bottom: 2px solid $lightGrey;
  }
  
  &__title {
    margin: 0;
    font-family: $fontGlobal;
    font-size: 18px;
    font-weight: 300;
    color: $mainColorDark;
  }
  
  &__date {
    margin: 30px 0px 20px 0px;
    font-size: 1.6rem;
    font-family: $fontHead;
    color: $mainColorDark;
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
    
  }
  
  &__close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    transition: all 0.2s ease;
    color: $ctaDelete;
    
    &:hover {
      transform: scale(1.3);
      color: lighten($ctaDelete, 30%);
    }
  }
  
  &__summary {
    padding-block: 12px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-family: $fontGlobal;
   
    &__title {
      margin: 5px 0px 16px 10px;
      font-weight: 200;
      font-family: $fontText;
      font-size: 18px;
    }
  }
  
  &__tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  &__task {
    display: flex;
    padding: 12px 6px;
    background-color: white;
    box-shadow: $shadowDark;
    border-radius: 10px;
    transition: all 0.2s ease;
    
    &:hover {
      border-color: darken($lightGrey, 20%);
      box-shadow: $shadowLight;
    }

    &--priority-high {
      border: 1px solid $prioHigh ;
    }
    &--priority-medium {
      border: 1px solid $prioMediun;
    }
    &--priority-low {
      border: 1px solid $prioLow ;
    }

    &--completed {
      opacity: 0.6;
      border: none;
      box-shadow: none;
      &:hover {
        box-shadow: none;
      }
      
      .day-details__task-name {
        text-decoration: line-through;
        color: #9ca3af;
      }
    }
  }
  
  &__task-name {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: $mainColorDark;
  }
  
  &__task-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: auto;
    gap: 8px;
  }
  
  &__initDate {
    font-size: 12px;
    opacity: 0.8;
    padding: 3px 8px;
    border-radius: 4px;
    box-shadow: $shadowInsetLight;
  }
  
  &__task-category {
    background-color: $taskCategory;
    text-align: center;
    border-radius: 8px;
    color: $grey;
    font-weight: 300;
    font-size: 14px;

  }
  
  &__task-deadline {
    background-color: rgb(179, 25, 25);
    color: $mainColorLight;
    border-radius: 4px;
    font-family: $fontText;
    font-size: 12px;
    font-weight: 300;
    @include alignCenter;
    justify-content: center;
    padding: 3px 8px;
    opacity: 0.8;
    box-shadow: $shadowInsetDark;
  }
  
  &__task-toggle {
    background-color: lighten($ctaComplete, 10%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid $ctaComplete;
    margin-left: 14px;
    margin-top: auto;
    height: 16px;
    width: 18px;
    padding: 2px;
    cursor: pointer;
    box-shadow: $shadowMenu;

    &:hover {
      background-color: $ctaComplete;
    }
    &--completed {
      box-shadow: $shadowInsetDark;
    }

    
  }
}

// Dark
body.dark .day-details,
.dark .day-details {
  
  &__title {
    color: $mainColorLight;
  }
  
  &__date {
    color: $mainColorLight;
  }
  
  &__close {
    color: $ctaDeleteDark; 
  }
  
  &__task {
    background-color: $grey;
    border-color: $grey;
    
    &:hover {
      border-color: darken($lightGrey, 10%);
    }

    &--priority-high {
      border-color: $prioHigh;
    }
    
    &--priority-medium {
      border-color: $prioMediun;
    }
    
    &--priority-low {
      border-color: $prioLow;
    }
    
    &--completed {
      opacity: 0.6;
      border: none;
      
      .day-details__task-name {
        text-decoration: line-through;
        color: #9ca3af;
      }
    }
  }
  
  &__task-name {
    color: $mainColorLight;
  }
  
  &__task-category {
    background-color: $taskCategoryDark;
    color: $mainColorLight;
  }
  
  &__initDate {
    box-shadow: $shadowInsetDark;
    background-color: $mainColorDark;
  }

  &__task-deadline {
    background-color: $dayDetailsDeadline;
    box-shadow: $shadowInsetDark;
  }
  
  &__task-nodeadline {
    background-color: $mainColorDark;
    color: $lightGrey;
    font-weight: 300;
  }
  
  &__task-toggle {
    background-color: $ctaComplete;
    box-shadow: $shadowMenu;
    color: $mainColorLight;
    &:hover {
      background-color: lighten($ctaComplete, 10%);
    }
    &--completed {
      box-shadow: $shadowInsetDark;
    }
  }
  
  .priority-badge {
    border-color: #1f2937;
  }
}